# =====================================================
# .gitignore - Fichiers à ignorer
# =====================================================

# Fichier des variables d'environnement (contient des secrets)
.env

# Fichiers temporaires
*.tmp
*.log
.next
.claude
# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
node_modules
